<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--          <a class="nav-link {% if url_main_page == request.path %}active{% endif %}" href="{{url_main_page}}">Главная</a></li>-->
<!--      <li class="nav-link btn-info ml-5"><a  href="{% url 'v_message_beds' %}">Передать сведения по койкам</a></li>-->
<!--      <li class="nav-link"><a href="{% url 'v_zayavka' %}">Подать заявку на госпитализацию</a></li>-->
<!--      <li class="nav-link"><a href="{% url 'v_beds_info' %}">Сведения о койках</a></li>-->
      <li class="nav-link"><a href="{% url 'v_zayavka_info' %}">Сведения о заявках</a></li>
<!---->
      <li class="nav-link"><a href="{% url 'v_elg' %}">ЕЛГ</a></li>
      <li class="nav-link"><a href="#">Поиск сведений о пациенте</a></li>
      <li class="nav-link"><a href="{% url 'kis_page' %}">Поиск контактов</a></li>
      <li class="nav-link"><a href="#">Итоги/дашборды</a></li>
      <li class="nav-link"><a href="#">Визиты</a></li>
      <li class="nav-link"><a href="{% url 'login_page' %}">Авторизация</a></li>

</body>
</html>