{% extends 'search_man/topic_info.html' %}

{% block content %}
      <li class="nav-link"><a href="{% url 'v_elg' %}">ЕЛГ</a></li>
      <li class="nav-link"><a href="{% url 'v_bso' %}">БСО</a></li>
      <li class="nav-link"><a href="{% url 'v_kis' %}">КИС</a></li>
      <li class="nav-link"><a href="#">Визиты (чек-лист)</a></li>
      <li class="nav-link"><a href="#">Поиск пациента</a></li>
      <li class="nav-link"><a href="{% url 'contacts_kis' %}">Сбор контактов</a></li>
      <li class="nav-link"><a href="#">Сбор сведений о МСОС</a></li>
      <li class="nav-link"><a href="#">Итоги/дашборды</a></li>
      <li class="nav-link"><a href="{% url 'login_page' %}">Авторизация</a></li>

{% endblock %}