<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}   Демо Bootstrap   {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
    <ul id="navbar">
  <li><a href="{% url 'v_start_page' %}">Главная</a></li>
  <li><a href="{% url 'v_message_beds' %}">Запросить койки</a></li>
  <li><a href="{% url 'v_zayavka' %}">Подача заявки</a></li>
  <li><a href="#">О нас</a></li>
</ul>
<body>
{% block content %}
Будем вносить исправления
{% endblock %}


</body>
</html>



