<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title><style>
      #navbar {
        margin: 10;
        padding: 10;
        list-style-type: none;      }
      #navbar li { display: inline; }
    </style>
  </head>
  <body>
    <ul id="navbar">
      <li><a href="#"><button class="favorite styled" type="button">Главная</button></a></li>
      <li><a href="#"><button class="favorite styled" type="button">Сведения по заявкам</button></a></li>
      <li><a href="#"><button class="favorite styled" type="button">Сведения по госпитализированным</button></a></li>
      <li><a href="#"><button class="favorite styled" type="button">Новая заявка</button></a></li>
      <li><a href="#"><button class="favorite styled" type="button">Отчеты по движению пациентов</button></a></li>
      <li><a href="{% url 'about' %}"><button class="favorite styled" type="button">Контакты</button></a></li>

    </ul>

<iframe src="https://datalens.yandex/7gvf3x9wnv24w" width=100% height="2000"></iframe>

</body>
</html>