{% extends 'wait_list_app/base_moselg.html' %}

{# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}
{% load static %}



{% block content %}


    <!-- Начало вставки 3 колонок -->
<!--    <div class="container">-->
<!--    <div class="container-fluid">-->
    <div class="container  align-items-center">
        <div class="row">
             <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-primary">
                            <thead>
                              <tr>
                                  <th>Доступный коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">100%</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">635</td>
                              </tr>
                            </tbody>
                          </table>
             </div>

             <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-danger">
                            <thead>
                              <tr>
                                  <th>Занятый  коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">95 %</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">601</td>
                              </tr>
                            </tbody>
                          </table>
             </div>
                <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-success">
                            <thead>
                              <tr>
                                  <th>Свободный  коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">5 %</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">34</td>
                              </tr>
                            </tbody>
                          </table>
             </div>
        </div>
    </div>
    <!-- Конец вставки 3 колонок -->


<br>
<!------------------------- Начало вставки 3 колонок -->
<div class="container">
    <div class="row">
        <div class="col">  <!-- ------------------------КОЛОНКА Доступный ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-primary">
                <tr>
<!--                    <th scope="col" colspan="5" class="text-center">Доступный коечный фонд</th>-->
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th>Койки_М</th>
                    <th>Койки_Ж</th>
                    <th>Итого</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for koyki_ in table_bed %}
                <tr>
                    <td>{{ koyki_.filial }}</td>
                    <td>{{ koyki_.m_free|add:koyki_.m_busy}}</td>
                    <td>{{ koyki_.f_free|add:koyki_.f_busy}}</td>
                    <td>{{ koyki_.f_free|add:koyki_.f_busy|add:koyki_.m_free|add:koyki_.m_busy}}</td>

                </tr>
                {% endfor %}
                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    xxxx </th>
                        <th>    xxxx </th>
                        <th>    xxx  </th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col"> <!-- ------------------------КОЛОНКА Занятый ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-danger">
                <tr>
<!--                    <th scope="col" colspan="5" class="text-center">Занятый коечный фонд</th>-->
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th>Койки_М</th>
                    <th>Койки_Ж</th>
                    <th>Итого</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for zayavka_ in table_bed %}
                <tr>
                    <td>{{ zayavka_.filial }}</td>
                    <td>{{ zayavka_.m_busy }}</td>
                    <td>{{ zayavka_.f_busy }}</td>
                    <td>{{ zayavka_.m_busy|add:zayavka_.f_busy }}</td>
<!--                    <td><a href="#">Детально {{ med_.id }}</a></td>-->
                </tr>
                {% endfor %}
                                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    xxxx </th>
                        <th>    xxxx </th>
                        <th>    xxx  </th>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
        <div class="col"><!-- ------------------------КОЛОНКА Свободный ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-success">
                <tr>
<!--                    <th scope="col" colspan="5" class="text-center">Свободный коечный фонд</th>-->
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th>Койки_М</th>
                    <th>Койки_Ж</th>
                    <th>Итого</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for zayavka_ in table_bed %}
                <tr>
                    <td>{{ zayavka_.filial }}</td>
                    <td>{{ zayavka_.m_free }}</td>
                    <td>{{ zayavka_.f_free }}</td>
                    <td>{{ zayavka_.m_free|add:zayavka_.f_free }}</td>
<!--                    <td><a href="#">Детально {{ med_.id }}</a></td>-->
                </tr>
                {% endfor %}
                                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    xxxx </th>
                        <th>    xxxx </th>
                        <th>    xxx  </th>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
    </div>


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

<!--            {{table_bed}}-->
        </div>
    </div>
</div>

<!-- Конец вставки 3 колонок -->



{% endblock %}
