{% extends 'wait_list_app/base_moselg.html' %}

<!--{# yonetim/templates/list.html #}-->
<!--{% load render_table from django_tables2 %}-->
<!--{% load static %}-->



{% block content %}
<script>
<!-- ---------------Обзовем переменные   -->
var znyat_total  <!-- ---------------Обзовем переменные   -->
var total_gz    <!-- Сколько всего по ГЗ -->
var total_dop    <!-- Сколько всего по dop -->
var total_rem    <!-- Сколько всего по rem -->
var total_m    <!-- Сколько всего по муж -->
var total_f    <!-- Сколько всего по жен -->

var filial_total

znyat_total = 0
total_gz = 0
total_dop = 0
total_rem = 0
total_m = 0
total_f = 0

     {% for koyki_ in table_bed %}
                    znyat_total = znyat_total +  {{ koyki_.m_busy}} + {{koyki_.f_busy}}
                    total_gz = total_gz + {{ koyki_.beds_gz }}
                    total_dop = total_dop + {{ koyki_.beds_dop }}
                    total_rem = total_rem + {{ koyki_.beds_remont }}
                    total_m = total_m + {{ koyki_.m_free }}  + {{ koyki_.m_busy }}
                    total_f = total_f + {{ koyki_.f_free }}  + {{ koyki_.f_busy }}
     {% endfor %}


</script>

    <!-- Начало вставки 3 колонок -->
<!--    <div class="container">-->
<!--    <div class="container-fluid">-->
    <div class="container  align-items-center">
        <div class="row">
             <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-primary">
                            <thead>
                              <tr>
                                  <th>Доступный коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">100%</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">635</td>
                              </tr>
                            </tbody>
                          </table>
             </div>

             <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-danger">
                            <thead>
                              <tr>
                                  <th>Занятый  коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">95 %</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">601</td>
                              </tr>
                            </tbody>
                          </table>
             </div>
                <div class="col"> <!-- <БЛОКИ ИНФОРМАЦИОННЫЕ> -->
                <table class="table table-borderless table-success">
                            <thead>
                              <tr>
                                  <th>Свободный  коечный фонд</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td class="text-end fs-4">5 %</td>
                              </tr>
                              <tr>
                                <td class="fw-bold fs-1">34</td>
                              </tr>
                            </tbody>
                          </table>
             </div>
        </div>
    </div>
    <!-- Конец вставки 3 колонок -->


<br>
<!------------------------- Начало вставки 3 колонок -->
<div class="container">
    <div class="row">
        <div class="col">  <!-- ------------------------КОЛОНКА Доступный ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-primary">
                <tr>
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th class="align-middle text-center">По ГЗ</th>
                    <th class="align-middle text-center">Доп. коек</th>
                    <th class="align-middle text-center">Рем.</th>
                   <th class="align-middle text-center">Итог</th>
                </tr>
                </thead>
                <tbody>
                <script> filial_total = 0 </script>
                {% for dostup_koyki in table_bed %}
                <tr>
                    <script>
                    filial_total = {{ dostup_koyki.beds_gz }} + {{ dostup_koyki.beds_dop }} - {{ dostup_koyki.beds_remont }}
                    </script>
                    <td>{{ dostup_koyki.filial }}</td>
                    <td>{{ dostup_koyki.beds_gz }}</td>
                    <td>{{ dostup_koyki.beds_dop }}</td>
                    <td>{{ dostup_koyki.beds_remont }}</td>
<!--                    <td>{{ dostup_koyki.beds_gz|add:dostup_koyki.beds_dop|add:dostup_koyki.beds_remont }}</td>-->
                    <td> <script>document.write(filial_total) </script> </td>


                </tr>
                {% endfor %}
                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    -------  <script> document.write(total_gz) </script></th>
                        <th>    -------  <script> document.write(total_dop) </script></th>
                        <th>    -------  <script> document.write(total_rem) </script></th>
                        <th>    -------  <script> document.write(total_gz + total_dop - total_rem) </script></th>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col"> <!-- ------------------------КОЛОНКА Занятый ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-danger">
                <tr>
<!--                    <th scope="col" colspan="5" class="text-center">Занятый коечный фонд</th>-->
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th>Койки_М</th>
                    <th>Койки_Ж</th>
                    <th>Итого</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for zayavka_ in table_bed %}
                <tr>
                    <td>{{ zayavka_.filial }}</td>
                    <td>{{ zayavka_.m_busy }}</td>
                    <td>{{ zayavka_.f_busy }}</td>
                    <td>{{ zayavka_.m_busy|add:zayavka_.f_busy }}</td>
<!--                    <td><a href="#">Детально {{ med_.id }}</a></td>-->
                </tr>
                {% endfor %}
                                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    xxxx </th>
                        <th>    xxxx </th>
                        <th>    xxx  </th>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
        <div class="col"><!-- ------------------------КОЛОНКА Свободный ---->
            <table class="table table-striped table-hover">
                <thead class="table-borderless table-success">
                <tr>
<!--                    <th scope="col" colspan="5" class="text-center">Свободный коечный фонд</th>-->
                </tr>
                <tr>
                    <th class="align-middle text-center">Филиал</th>
                    <th>Койки_М</th>
                    <th>Койки_Ж</th>
                    <th>Итого</th>
<!--                    <th></th>-->
                </tr>
                </thead>
                <tbody>
                {% for zayavka_ in table_bed %}
                <tr>
                    <td>{{ zayavka_.filial }}</td>
                    <td>{{ zayavka_.m_free }}</td>
                    <td>{{ zayavka_.f_free }}</td>
                    <td>{{ zayavka_.m_free|add:zayavka_.f_free }}</td>
<!--                    <td><a href="#">Детально {{ med_.id }}</a></td>-->
                </tr>
                {% endfor %}
                                <tr>  <!--TOTAL -->
                        <th> Итого </th>
                        <th>    xxxx </th>
                        <th>    xxxx </th>
                        <th>    xxx  </th>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
    </div>


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

<!--            {{table_bed}}-->
        </div>

    </div>
</div>

<!-- Конец вставки 3 колонок -->



{% endblock %}
