{% extends 'wait_list_app/base_moselg.html' %}
{{user_name }}  {{ user_age}}
{% block content %}
{{ message }}
Были переданы ранее данные
{{report_namemo }} - report_m_free {{ report_m_free}} - report_f_free {{ report_f_free}}
<style>
    .center {
      margin: auto;
      width: 50%;
      border: 1px solid lightgray;
      padding: 50px;
    }
    .inputs {
        display: flex;
        justify-content: space-between;
    }
</style>
<form action="" method="post" class="center">
    {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>

    <input type="submit" value="Отправить">
    </form>
{% endblock %}
