{% extends 'wait_list_app/base_moselg.html' %}

<!--{# yonetim/templates/list.html #}-->
<!--{% load render_table from django_tables2 %}-->
<!--{% load static %}-->


{% block content %}

<a class="btn btn-primary" href="{% url 'export_to_excel_2' %}">Export all users</a><br>
<button type="submit" value={{table_kis_f}} onclick="location.href='{% url 'export_to_excel_2' %}'" name='mybtn2'>Download Excel file</button>
<a href="{% url 'export_to_excel_2' %}?{{ request.GET.urlencode }}">
    <button type="submit">Выгрузить</button>
</a>
<br>

<!--    Тут просто тест вывода содержимого БД Мед-организации<br>-->
<!--установка фильтра начало-->
Фильр по дате выбытия

<br>
    <div class="row">
        <div class="col">
            <div class="card card-body's">
                <form method="get">
                        <table>
                    {{ myFilter.form}}
                    {{ myFilter.as_table }}
                        </table>
<!--{{table_kis_start_date}}<br>-->
<!--{{table_kis_end_date}}-->
                    <button class="btn btn-primary" type="submit">Поиск</button>

</form>
            </div>
        </div>
    </div>
<!--установка фильтра конец-->

<!--****************************-->

{% if page_obj.has_previous %}
  <li><a href="?{{  str_test }}&page={{ page_obj.previous_page_number }}">(Prev)</a></li>

  {% if page_obj.number > 3 %}
      <li><a href="?page=1">(1)</a></li>
    {% if page_obj.number > 4 %}
      <li><a >...</a></li>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
<!--      <li><a href="?page={{ num }}">({{ num }})</a></li>-->
      <li><a href="?{{  str_test }}&page={{ num }}">({{ num }})</a></li>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<!--      <li><a href="?page={{ num }}">({{ num }})</a></li>-->
      <li><a href="?{{  str_test }}&page={{ num }}">({{ num }})</a></li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <li><a >...</a></li>
    <li><a href="?{{  str_test }}&page={{ page_obj.paginator.num_pages }}">
      ({{ page_obj.paginator.num_pages }})
    </a></li>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <li><a href="?{{  str_test }}&page={{ page_obj.paginator.num_pages }}">
      ({{ page_obj.paginator.num_pages }})
    </a></li>
  {% endif %}

<!--  <li><a href="?page={{ page_obj.next_page_number }}">(Next)</a></li>-->
  <li><a href="?{{  str_test }}&page={{ page_obj.next_page_number }}">(Next)</a></li>
{% endif %}

{{ page_obj }} {{ page_obj.number }} sss
<br><br>
<!--****************************-->
<!--сам вывод визуальной таблицы (начало)-->
<table  class="table table-striped table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Дата госпит</th>
                <th>Дата выписки</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for kis_zapis_ in page_obj %}
            <tr>
                <td>{{ kis_zapis_.id }}</td>
                <td>{{ kis_zapis_.fio}}</td>
                <td>{{ kis_zapis_.date_gospit}}</td>
                <td>{{ kis_zapis_.date_out }}</td>
                  <td><a href="#">Исправить {{ med_.id  }}</a></td>
                <td><button class="editbtn">Удалить</button></td>
            </tr>
            {% endfor %}
    <!--     { render_table table %}-->
        </tbody>
    </table>
<!--сам вывод визуальной таблицы (конец)-->
 ---


{% endblock %}

