{% extends 'wait_list_app/base_moselg.html' %}

{# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}
{% load static %}



{% block content %}
<!--    Тут просто тест вывода содержимого БД Мед-организации<br>-->
<!--    {% for med_ in beds|slice:":6" %}-->
<!--        {{ med_ }} m_employ: {{ med_.m_employ }} <br>-->
<!--     {% endfor %}-->
<!--    {{ beds.as_table }}-->
<br>
<div class="row">
    <div class="col">
        <div class="card card-body's">
            <form method="get">
                {{ myFilter.form}}
                <button class="btn btn-primary" type="submit">Поиск</button>
            </form>
        </div>
    </div>

</div>


<table  class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Произвести госп</th>
            <th>№</th>
            <th>Организация</th>
            <th>Занято муж.</th>
            <th>Занято жен.</th>
            <th>Свободно муж.</th>
            <th>Свободно жен.</th>
            <th>Дата сообщениях</th>
            <th>Прим.</th>
            <th>фыв</th>
            <th>фыв</th>
        </tr>
    </thead>
    <tbody>
        {% for med_ in beds|slice:":105" %}
        <tr>
            <td><button class="editbtn">Госпит</button></td>
            <td>{{ med_.id }}</td>
            <td>{{ med_.med_org }}</td>
            <td>{{ med_.m_employ }}</td>
            <td>{{ med_.f_employ }}</td>
            <td>{{ med_.m_free }}</td>
            <td>{{ med_.f_free }}</td>
            <td>{{ med_.create_at }}</td>
            <td>{{ med_.note }}</td>
<!--            <td><button> <a href="{% url 'v_start_page' %}"> Исправить {{ med_.id  }}</a> </button></td>-->
            <td><a href="{% url 'edit_report_beds' report_beds_id=med_.id %}">Исправить {{ med_.id  }}</a></td>
            <td><button  type="submit" onclick="location.href='{% url 'v_start_page' %}'" >Исправить {{ med_.id  }} </button></td>
            <td><button class="editbtn">Удалить</button></td>
        </tr>
        {% endfor %}
<!--     { render_table table %}-->
    </tbody>
</table>
{% endblock %}
