{% extends 'wait_list_app/base_moselg.html' %}
{% load widget_tweaks %}
{% render_field form.spis class+="select2" data-minimum-results-for-search="Infinity" %}

{% block content %}

{{ message }}

<style>
    .center {
      margin: auto;
      width: 50%;
      border: 1px solid lightgray;
      padding: 50px;
    }
    .inputs {
        display: flex;
        justify-content: space-between;
    }
</style>

<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $('.select2').each(function (idx, elem) {-->
<!--        $(elem).select2({-->
<!--            'language': 'ru',-->
<!--        });-->
<!--    });-->
<!--}-->
<!--</script>-->

    <form action="" method="post" class='center'>
    {% csrf_token %}
        <table>

        {{ form }}

        </table>
    <input type="submit" value="Отправить">
    </form>
{% endblock %}

-------------
<!--      <select id="select_mo">-->
<!--            <option selected disabled="True"> -&#45;&#45; Select &#45;&#45;   </option>-->
<!--       {% for i in meds %}-->
<!--             <option>{{i.name}}</option>-->
<!--       {% endfor %}-->
<!--      </select>-->