{% extends 'wait_list_app/base_moselg.html' %}

{% block content %}

{{ message }}

<style>
    .center {
      margin: auto;
      width: 50%;
      border: 1px solid lightgray;
      padding: 50px;
    }
    .inputs {
        display: flex;
        justify-content: space-between;
    }
</style>

    <form action="" method="post" class='center'>
    {% csrf_token %}
            <table>
        {{ form.as_table }}
        </table>
    <input type="submit" value="Отправить">
    </form>
{% endblock %}
